block configuration

html
    head
        title=pageTitle
        link(rel="stylesheet" href="style.css")
    body
        p="Page name: " + pageName
        each menuItem in menu_items
            if menuItem.key == pageName
                p.active
                    a(href=menuItem.key + ".html")=menuItem.name
            else
                p
                    a(href=menuItem.key + ".html")=menuItem.name
        block content
