block configuration

- let menu_structure = [1,2,3]
- console.log(menu_structure)

html
    head
        title=title
    body
        p="menu_structure: " + menu_structure
        p="example global: " + example_global
        block content
